!!! XML
%ald:item(xmlns:ald='ald://api/items/describe/schema/2012'){prefix(filter(item, %w[name version summary rating downloads]))}
	%ald:user{'ald:name' => item.user.name, 'ald:id' => item.user.id}/
	%ald:authors
		- item.authors.each do |author|
			%ald:author{prefix(filter(author, %w[name id user-name homepage email]))}/
	%ald:dependencies
	%ald:requirements
	%ald:tags
		- item.tags.each do |tag|
			%ald:tag{'ald:name' => tag}/
	