!!! XML
%ald:item(xmlns:ald='ald://api/items/describe/schema/2012'){prefix(filter(item, %w[id name version summary rating downloads])), 'ald:type' => item.item_type.name}
	%ald:user{'ald:name' => item.user.name, 'ald:id' => item.user.id}/
	%ald:authors
		- item.authors.each do |author|
			%ald:author{prefix(filter(author, %w[name id user-name homepage email]))}/
	%ald:dependencies
	%ald:requirements
	%ald:ratings
		- item.ratings.each do |rating|
			%ald:rating{:rating => rating.rating}
	%ald:tags
		- item.tags.each do |tag|
			%ald:tag{'ald:name' => tag}/
